/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'font-styles';
@import 'grid';

/*#wpadminbar {
	display: none;
}*/

*, *:after, *:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, /*header*/, footer {
	overflow: auto;
}

.border-left {
	border-left: 1px solid $ltgray;
}

.border-right {
	border-right: 1px solid $ltgray;
}

.border-bottom {
	border-bottom: 1px solid $ltgray;
}

hr {
	border-top: 1px solid $ltgray;
}

body {background: white;}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.wrap {
	max-width: 1220px;
	margin: 0 auto;
	padding: 30px 0px;
}

.outter-wrap {
	padding:  0 60px;
}

.inner-wrap {
	padding: 0px 60px;
	margin: 0 auto;
}

.margin-bottom {
	margin-bottom: 50px;
}

.foat-left {
	float: left;
}

.float-right {
	float: right !important;
}

.clear {
	display: block;
	height: 0;
	width: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

/*Status Bar*/

nav.emp-bar {
	width: 100%;
	height: 32px;
	font-size: 1em;
	background: rgb(206,121,121); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(206,121,121,1) 1%, rgba(177,34,32,1) 25%, rgba(177,34,32,1) 75%, rgba(206,121,121,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(206,121,121,1) 1%,rgba(177,34,32,1) 25%,rgba(177,34,32,1) 75%,rgba(206,121,121,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(206,121,121,1) 1%,rgba(177,34,32,1) 25%,rgba(177,34,32,1) 75%,rgba(206,121,121,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce7979', endColorstr='#ce7979',GradientType=0 ); /* IE6-9 */
	.wrap {
		max-width: 1220px;
		padding: 6px;
	}
	td, a {
		width: 33%;
		font-size: .8em;
		text-decoration: none;
		text-align: left;
		color: white;
		text-shadow: 1px 1px 5px #000000;
	}

	a {
		float: right;
		font-size: 1em;
		text-align: right;
		&:hover {
			text-decoration: underline;
		}

	}
}

header {
	height: 119px;
	.logo {
		float: left;
		h1 {
			margin: 0;
		}
		img {
			position: relative;
			width: 207px;
			height: auto !important;
		}
	}
	.awards {
		float: right;
		padding-bottom: 5px;
		a {
			float: left;
		}
		.award-inc {
			width: 75px;
		}
		.award-fast50 {
			width: 135px;
		}
		img {
			padding-left: 10px;
			opacity: .5;
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);  /* For Webkit browsers */
			filter: gray;  /* For IE 6 - 9 */
			-webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
			&:hover {
			filter: grayscale(0%);
			-webkit-filter: grayscale(0%);   /*For Webkit browsers */
		  	filter: gray;  /* For IE 6 - 9 */
		  	opacity: 1;
			}
		}
	}
}

nav.primary {
	ul {
		display: inline;
		z-index: 1000;
		margin: 0;
		padding: 10px 4px 17px 0;
		text-align: left;
		li {
			display: inline-block;
			position: relative;
			margin-right: -4;
			padding: 12px 15px 15px;
			border-left: 1px solid white;
			&:hover {
				a { 
					color: $red;
				}
				li a {
					color: $gray;
				}
				border-left: 1px solid $red;
				ul {
					display: block;
					position: absolute;
					text-align: left;
					opacity: 1;
					visibility: visible;
					li {
						border-left: 0px solid white;
					}
				}
			}
			ul {
				display: none;
				position: absolute;
				left: -1px;
				width: 160px;
				margin-top: 15px;
				padding: 0 0 10px;
				background: white;
				opacity: 0;
				visibility: hidden;
				border-left: 1px solid $red;
				border-bottom: 1px solid $red;
				li {
					display: block;
					padding: 5px 15px 5px 15px;
					font-size: .9em;
					color: $gray;
					&:hover {
						> a {
						color: $red;
						}
						ul {
							display: block !important;
						}
					}
					ul {
						display: none !important;
						position: absolute;
						top: -15px;
						left: 159px;
						border-left: none;
						border-right: 1px solid $red;
					}
				}
			}
		}
	}
}


/*moved home page styles to home*/


footer {
	padding-bottom: 50px;
	clear: both;
	> div.col-1-1 {
		padding-right: 0px;
	}
	nav {
		margin-bottom: 10px;
	}
}

.footer-4 {
	float: right;
	text-align: right;
	padding-right: 0px;
	img {
		float: right;
		width: 185px;
		height: auto ;
		padding-bottom: 20px;
		clear: right;
	}
}

.social,
.copyright {
	clear: left;
	text-align: left;
}
@media screen and (max-width: $papa-bear) {
	.inner-wrap,
	.outter-wrap {
/*		padding-left: 30px;
		padding-right: 30px;*/
	}
}

@media screen and (max-width: $mama-bear) {
	.inner-wrap,
	.outter-wrap {
		padding-left: 30px;
		padding-right: 30px;
	}
	.logo {
		width: 100%;
		img {
			width: 207px;
			max-width: 85%;
		}
	}
	header div.float-right {
		display: none;
	}
	div#click-menu {
		margin-top: 30px;
	}

	.RMImage {
		height: 32px;
		width: auto;
	}

	menu, ol, ul {
		padding: 0px;
	}
	
	footer {
		[class*='col-'] {
			float: left;
			width: 50%;
			padding-right: 20px;
		}
		.footer-3 {
			clear: left;
		}
		.footer-4 {
			text-align: left;
			img {
				width: 200px;
				float: none;
			}
		}
	}
	#responsive-menu .responsive-menu li li a {
		color: $medgray !important;
	}
}

@media (max-width: $baby-bear) {
	.margin-bottom {
		margin-bottom: 25px;
	}
	header .logo {
		float: none;
		text-align: center;
		margin: 0 auto;
	}

	
	footer {
		[class*='col-'],
		.social,
		.copyright {
			float: none;
			width: 100%;
			margin-bottom: 40px;
			padding: 0px;
			text-align: center;
		}
	}
	nav.emp-bar {
		td:nth-of-type(2) {
			display: none;
		}
	}
}